body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço do container */
}

@media (min-width: 768px) {
    .container img {
        width: auto; /* Retorna à largura automática para tablets e desktops */
        height: 100%;
    }
}
